body{
    background:  #CCFFFF;
    padding: 0px 300px  0px;
}

h1 {
    font-family: 'Montserrat';
}

h2 {
    font-family: 'Montserrat';
}

#header{
    text-align: center;
    padding: 50px;
}

#header-img {
    width: 75%;
    height: auto;
}

.project-row {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto); */
}

.project-item-left {
    grid-row: 1 / 2;
}

.project-item-right {
    grid-row: 3 / 4;
}