body{
    background: #F5F5F5;
    padding: 0px 100px  0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

p {
    font-family: 'Open Sans';
    font-size: 1rem;
}

hr {
    color: gainsboro;
}

#header{
    text-align: center;
    margin: 50px;
}

#header-img {
    width: 75%;
    height: auto;
}

#extra-info{
    text-align: center;
}
#info {
    margin: 10px 0px 50px 0px;
}

.project-type{
    margin-top: 20px;
}

.project-row {
    margin: 35px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 30px;
}

.project-item-left {
    grid-row: 1;
    grid-column: 1 / 2;
    text-align: center;
}

.project-item-right {
    grid-row: 1;
    grid-column: 2 / 3;
    text-align: center;
}

.project-thumbnail {
    box-shadow: 5px 10px 10px #888888;
    margin-bottom: 20px;
}

.project-thumbnail:hover {
    
}